### all ignore ###
/*
/.**

### not ignore ###
!.gitignore
!LICENSE
!Makefile
!README.md

!.bin/
!brew.sh
!code.sh
!link.sh
!mise.sh
!update.sh
!zsh.sh

!.github/
!workflows/
!macos.yml

!git/
!.gitconfig_shared
!.gitignore_global

!homebrew/
!Brewfile

!mise/
!.mise.toml

!vim/
!.vimrc

!vscode/
!extensions
!keybindings.json
!settings.json

!zsh/
!.zprofile
!.zshrc
