### all ignore ###
/*
/.**

### not ignore ###
!.gitignore
!LICENSE
!Makefile

!.bin/
!link.sh
!brew.sh
!update.sh
!zsh.sh

!.github/
!workflows/
!macos.yml

!git/
!.gitignore_global
!.gitconfig_shared

!homebrew/
!Brewfile

!vim/
!.vimrc

!vscode/
!settings.json
!keybindings.json

!zsh/
!.zshrc
