### all ignore ###
/*
/.**

### not ignore ###
!.gitignore
!LICENSE
!.bin/
!setup.sh
!brew-init.sh
!link.sh
!replace-git.sh
!replace-zsh.sh
!unlink.sh

!git/
!.gitignore_global
!.gitconfig_shared

!homebrew/
!.Brewfile

!vim/
!.vimrc

!zsh/
!.zshrc
!.zshenv
!.zprofile

